In [31]:
import pandas as pd
from sqlalchemy import create_engine
#建立与数据库连接
engie = create_engine('mysql://hive:123456@127.0.0.1:3306/python')
sql = pd.read_sql('all_gzdata',engie,chunksize=10000)

C:\Anaconda\lib\site-packages\sqlalchemy\engine\default.py:470: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 478")
  cursor.execute(statement, parameters)

In [32]:
counts = [i['fullURLId'].value_counts() for i in sql]#逐块统计
counts = pd.concat(counts).groupby(level=0).sum()#合并统计结果，把相同的统计合并（按照index分组并求和）
counts = counts.reset_index()#重新设置index，将原来的index作为counts的一列
counts.columns = ['index','num']#重新设置列名，主要是第二列，默认为0
counts['type'] = counts['index'].str.extract('(\d{3})')#提取前3个数字作为类别id
counts_ = counts[['type','num']].groupby('type').sum()#按类别合并
counts_.sort_values(by='num',ascending = False)#降序排列

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

         num
type
101   411665
199   201426
107   182900
301    18430
102    17357
106     3957
103     1715

In [33]:
#统计107类别的情况
def count107(i):
    j = i[['fullURL']][i['fullURLId'].srt.contains('107')].copy()#找出类别包含107的网址
    j['type'] = None
    j['type'][j['fullURL'].str.contrain('info/.+?/')] = u'知识首页'
    j['type'][j['fullURL'].str.contrain('info/.+?/.+?')] = u'知识列表项'
    j['type'][j['fullURL'].str.contrain('/\d+?_*\d+?\.html')] = u'知识内容项'
    return j['type'].value_counts()

In [34]:
counts2 = [count107(i) for i in sql]#逐块统计
counts2 = pd.concat(counts2).groupby(level=0).sum()
counts2

ValueError: No objects to concatenate

In [38]:
counts

      index     num type
0    101001    5603  101
1    101002    7776  101
2    101003  396612  101
3    101004     125  101
4    101005      63  101
5    101006     107  101
6    101007     147  101
7    101008     378  101
8    101009     854  101
9    102001    2129  102
10   102002   12021  102
11   102003    1235  102
12   102004     361  102
13   102005     271  102
14   102006     184  102
15   102007     538  102
16   102008     404  102
17   102009     214  102
18   103002     189  103
19   103003    1526  103
20   106001    3957  106
21   107001  182900  107
22  1999001  201426  199
23   301001   18430  301

In [37]:
[i['fullURLId'].value_counts() for i in sql]#逐块统计

[]